*{
  box-sizing: border-box;
  margin:0;
  /* DEBUG:  */
  border:1px solid black;
  /* padding:5px; */
  }

html {
  overflow: hidden;
  height: 100%;
}


body{
  font-family: ARIAL;
  height: 100%;
  overflow: auto;
}

ul{
  list-style-type: none;
  margin: 0;
}

/* griglia */

.my-all-container{
  display: grid;
  /* grid-gap: 2px; */
  grid-template-rows:calc(100vh - 90px) 90px;
  grid-template-columns:230px calc(100% - 230px);
}

header{
  background-color: red;
  grid-row:1/2;
  grid-column: 1/2;
  overflow: scroll;
  height: calc(100vh - 90px);
}

.my-navbar{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-navbar > *{
  width: 100%;
}

.my-header-list.n1{
}

.my-header-list.n3{
}

main{
  background-color: lightblue;
  grid-row: 1/2;
  grid-column: 2/3;
  overflow: auto;
}

main > *{
  display: flex;
}
.my-main-upgrade{
  justify-content: flex-end;
  align-items: center;
  /* DEBUG:  */
  height: 80px;
}


.my-main-menu{
  justify-content: center;
  align-items: center;
}

.my-main-menu-ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
}
.my-main-menu-ul li{
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.my-main-menu-ul li a{
  display: inline-block;
  text-align: center;
  width: 120px;
}

.my-main-menu-ul li div{
  width: 40px;
}

.my-section{
  flex-direction: column;
}
.my-section > *{
  width: 100%;
}

.my-album-pictures > div img{
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.my-section.n1{
}

.my-album-pictures{
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
}

.my-album-pictures > *{
  width: calc(97% / 6);
  /* DEBUG:  */
  min-width: 150px;
}

.my-album-pictures > *:not(:last-child){
  /* margin-right:0.8%; */
}


.my-album-names > *{
  width: 100%;
}

.my-section.n2{
}


.my-section.n3{
}

.my-album-pictures.n3 > div > .my-img{
}

.my-album-pictures.n3 > div > .my-img > img{
  width: 105%;
  border-radius: 50%;
  overflow: hidden;
}

footer{
  background-color: yellow;
  grid-row: 2/3;
  grid-column: 1/3
}

.my-player{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}


.my-player > *{
  /* DEBUG:  */
  margin-right: 10px;
}

.my-player-left, .my-player-right{
  width: 15%;
}

.my-player-left{
  display: flex;
  align-items: center;
  justify-content:  space-between;
}

.my-player-left-content{
  display: flex;
}

.my-player-left-icons{
  display: flex;
}

.my-player-middle{
  flex: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-player-middle > *{
  flex: 0.5;
  display: flex;
  width: 100%;
}

.my-middle-top{
  justify-content: center;
}

.my-play-buttons{
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.my-play-buttons > *{
  /* margin-right: 2%; */
}

.my-play-line-bottom{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.my-player-line{
  flex: 1;
  height: 10px;
  align-self: center;
}

.my-player-right{
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-some-logos-right{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
