*{
  box-sizing: border-box;
  margin:0;
  /* DEBUG:  */
  /* border:1px solid black; */
  /* padding:5px; */
  }

html {
  overflow: hidden;
  height: 100vh;
}


body{
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  /* DEBUG:  */
  color: #7d7f84;
}

h2, h3, h4, h5{
  color: white;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

/* griglia */

.my-all-container{
  display: grid;
  /* grid-gap: 2px; */
  grid-template-rows:calc(100vh - 90px) 90px;
  grid-template-columns:230px calc(100% - 230px);
}

header{
  background-color: #000000;
  grid-row:1/2;
  grid-column: 1/2;
  overflow: auto;
  height: calc(100vh - 90px);
  overflow-x: hidden;
  padding: 24px 24px 5px 24px;
}

header a{
  color: #6d6d6d;
}

header a:not(#profile){
  font-size: 14px;
}

header img:not(#my-logo){
  /* max-width: 100%; */
  width: 24px;
  margin-right: 16px;
}

header a#crea-playlist{
  font-size: 15px;
  display: flex;
  width: 100%;

}

header a#crea-playlist .my-plus-box{
  margin-right: 16px;
  background-color: #a3a3a3;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: black;
  font-weight: lighter;
}

#my-logo{
  max-width: 100%;
}


.my-header-list.n1 a{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
}

#profile{
  color: white;
  display: flex;
  align-items: center;
}

.my-header-list.n2 h2{
  font-size: 13.5px;
}

.my-header-list.n2 > ul > li{
  /* padding: 6px 0; */
  height: 40px;
}

.my-header-list.n2 > *{
  padding: 3px 0 12px 0;
}

.my-create-playlist{
  display: flex;
  align-items: center;
}

.my-create-playlist span{
  display: flex;
  align-items: center;
}



.my-navbar{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-navbar > *{
  width: 100%;
}

.my-logo-header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  /* DEBUG:  */
  margin-bottom: 22px;
}

.my-logo-box{
  width: 131px;
}

.my-logo-box a{
  display: block;
}

.my-header-list.n1{
  margin-bottom: 20px;
}

.my-header-list.n1 ul li{
  border-left: 3px solid #adff2f;
  margin-left: -24px;
  padding-left: 24px;
}

.my-header-list.n1 ul li:not(:first-child){
  border: none;
}

.my-header-list.n3 ul li:first-child{
  border-bottom: 1px solid lightgrey;
}

.my-header-list.n3 ul li{
  height: 40px;
  display: flex;
  align-items: center;
}

.my-header-list.n3 ul li:last-child{
  padding-top: 9px;
}

.my-profile-box{
  border-radius: 50%;
  background-color: #808080;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.my-profile-box img{
  max-width: 100%;
}

.my-profile-box{
  margin-right: 16px;
}

#install{
  margin-right: 16px;
}

main{
  background-color: #141922;
  grid-row: 1/2;
  grid-column: 2/3;
  overflow: auto;
  padding: 0 20px;
}

main > *{
  display: flex;
}
.my-main-upgrade{
  background-color: #080b12;
  justify-content: flex-end;
  align-items: center;
  /* DEBUG:  */
  height: 80px;
  padding-right: 7px;
  margin-left: -20px;
  margin-right: -20px;
}

.my-main-upgrade a{
  color: white;
  border-radius: 40px;
  border: 1px solid white;
  padding: 12px 35px;
  font-size: 12px;
}

.my-main-menu{
  justify-content: center;
  align-items: center;
  height: 60px;
}


.my-main-menu a{
  color: #696b70;
  font-size: 13.5px;
  font-weight:bolder;
}

.my-main-menu-line{
  width: 30px;
  height: 2px;
  border-radius: 3px;
  background-color: #adff2f;
  margin-top: 2px;
  visibility:hidden
}

.my-main-menu-line.n1{
  visibility: visible;
}






.my-main-menu-ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
}
.my-main-menu-ul li{
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.my-main-menu-ul li a{
  display: inline-block;
  text-align: center;
  width: 120px;
}

.my-section{
  flex-direction: column;
  margin-bottom: 35px;
}

.my-h2-album{
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 15.5px;
}

.my-p-album{
  font-size: 13px;
  font-weight: bolder;
}
.my-section > *{
  width: 100%;
}

.my-album-pictures > div img{
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.my-section.n1{

}

.my-album-pictures{
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  padding-top: 20px;
}


.my-album-pictures > *{
  width: calc(97% / 6);
  /* DEBUG:  */
  min-width: 150px;
}

.my-album-pictures h3 {
  padding: 15px 0 5px 0;
  font-size: 16px;
}

.my-album-pictures p {
  padding: 5px 0;
  font-size: 13px;
  font-weight: bolder;
}

.my-album-pictures > *:not(:last-child){
  /* margin-right:0.8%; */
}


.my-album-names > *{
  width: 100%;
}

.my-section.n2{
}


.my-section.n3{
}

.my-album-pictures.n3 > div > .my-img{
}

.my-album-pictures.n3 > div > .my-img > img{
  width: 105%;
  border-radius: 50%;
  overflow: hidden;
}

footer{
  background-color: #282828;
  grid-row: 2/3;
  grid-column: 1/3;
  padding: 20px 12px;
}

footer i{
  color: #878787;
}

.my-player{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}


.my-player > *{
  /* DEBUG:  */
  /* margin-right: 10px; */
}

.my-player-left{
  min-width: 160px;
}

.my-player-right{
  min-width: 200px;
}

#player-left-img-box{
  /* DEBUG:  */
  width: 45px;
  height: 45px;
  margin-right: 13px;
}

#player-left-img-box img{
  max-width: 100%;
}

.my-player-left{
  display: flex;
  align-items: center;
  justify-content:  space-between;
}

.my-player-left-content{
  display: flex;
}

.my-player-left-icons{
  display: flex;
  flex-direction: column;
}

.my-player-left-icons a:first-child{
  /* margin-right: 15px; */
}

.my-player-left-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-player-left-text h4{
  font-size: 9.5px;
}

.my-player-left-text p{
  font-size: 11px;
}

.my-player-middle{
  flex: 0.55;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.my-player-middle > *{
  flex: 0.5;
  display: flex;
  width: 100%;
}

.my-middle-top{
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.my-middle-top i, .my-some-logos-right i{
  color: white;
}

#play{
  font-size: 30px;
}

.my-play-buttons{
  display: flex;
  justify-content: space-between;
  width: 200px;
  align-items: center;
}

.my-play-buttons > *{
  /* margin-right: 2%; */
}

.my-play-line-bottom{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.my-player-time{
  font-size: 10px;
  color: white;
}

.my-player-line{
  flex: 0.9;
  height: 4px;
  align-self: center;
  background-color: #5a5a5a;
  border-radius: 5px;
}

.my-player-right{
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-some-logos-right{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.my-some-logos-right i{
  font-size: 14px;
}

.my-player-right-line{
  height: 3px;
  width: 100px;
  background-color: #5a5a5a;
}

#one, #two, #three{
  width: 13%;
}

#four{
  width: 55%;
}
